/* Background styles */
.TodoApp {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in-out;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}

.TodoApp.dark-mode {
    background-color: var(--color-very-dark-blue);
    background-image: url('./images/bg-desktop-dark.jpg');
}

.TodoApp.light-mode {
    background-color: var(--color-very-light-grayish-blue);
    background-image: url('./images/bg-desktop-light.jpg');
}


/* Content Box styles */
.TodoBox {
    margin: 2rem 0;
    border-radius: 1rem;
    min-height: 45rem;
    width: 90rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.TodoBox.light-mode {

}
.TodoBox.dark-mode {

}

.TodoBox-Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.TodoBox-Container > * {
    flex: 1;
    margin-bottom: 3rem;
}


/* Header */
.Header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Toggle Button */
.toggle-btn {
    cursor: pointer;
    transition: all .4s ease-in-out;
    background-color: transparent;
    border: none;
}


/* Form */
form {
    display: flex;
    align-items: center;
    padding: 1rem;
}
.TodoForm {
    border-radius: 10px;
}
.TodoForm.dark-mode {
    background-color: var(--color-very-dark-desaturated-blue);
}
.TodoForm.dark-mode input[type=text] {
    color: var(--color-very-light-grayish-blue);
}
.TodoForm.dark-mode input[type=text]::placeholder {
    color: var(--color-very-light-grayish-blue);
}
.TodoForm.light-mode {
    background-color: var(--color-very-light-gray);
}
.TodoForm.light-mode input[type=text] {
    color: var(--color-dark-grayish-blue);
}
.TodoForm.light-mode input[type=text]::placeholder {
    color: var(--color-dark-grayish-blue);
}

input[type=text] {
    width: 100%;
    padding: 0;
    border: none;
    background-color: transparent;
}

input[type=text]:focus {
    outline: transparent;
}

#submitTodo {
    display: none;
}

/* Todo list */
.Todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: .1rem solid var(--color-dark-grayish-blue);
}
.Btn-delete {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Btn-checked {
    height: 3rem;
    width: 3rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: .1rem solid var(--color-dark-grayish-blue);
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
}

.TodoList {
    background-color: hsl(235, 24%, 19%);
    border-radius: 10px;
    
}
.TodoList.dark-mode {
    background-color: var(--color-very-dark-desaturated-blue);
}
.TodoList.light-mode {
    background-color: var(--color-very-light-gray);
}

.TodoListBtns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.TodoListBtns.dark-mode {
    color: var(--color-very-light-grayish-blue);
}
.TodoListBtns.light-mode {
    color: var(--color-dark-grayish-blue);
}

.TodoStatus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
    padding: 0 .5rem;
}


/* Footer */
.Footer {
    color: hsl(234, 11%, 52%);
    text-align: center;
}

